.movie-card {
  border-radius: 10px;
  overflow: hidden;
  height: 340px;
  width: 252px;
}

.movie-card__poster {
  position: relative;
  height: 250px;
}

.movie-card__image {
  background-size: contain;
  height: 100%;
  width: 100%;
  position: absolute;
}

.movie-card__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  visibility: hidden;
  transition: background-color 0.5s, text 0.5s;
}

.movie-card__overlay_active {
  background-color: rgba(0, 0, 0, 0.9);
  visibility: visible;
  padding: 0px 10px;
}
.movie-card__description {
  text-align: left;
  font-size: 0.9rem;
}

.movie-card__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(255, 71, 71, 0.765);
  position: relative;
}

.movie-card__title {
  font-weight: 700;
  position: absolute;
  width: 100%;
  margin-top: 10px;
  padding: 0px 10px;
  font-size: 1.1rem;
}

@media (min-width: 600px) {
  .movie-card {
    width: 230px;
  }
}
