.movie-card {
    width: 13rem;
    height: 21rem;
    margin: 2rem;
    border-radius: 10px;
    /* position: relative; */
    background-color: rgba(255, 71, 71, 0.765);
    overflow: hidden;
}

.movie-card__poster {
    height: 15rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* background-size: contain; */
}

.movie-card__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -11px;
    visibility: hidden;
}

.active {
    background-color: rgba(0, 0, 0, 0.8);
    visibility: visible;
}

.movie-card__info {
    width: 100%;
}

.movie-card__title {
    padding: 0.2rem;
    font-size: 0.8rem;
}
