.main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  color: white;
  width: 95vw;
  margin-top: -30px;
  min-height: 80vh;
}

.main__app-description {
  font-size: 1rem;
  width: 240px;
}

.main__carousel {
  display: flex;
  justify-content: center;
  width: 270px;
}

.carousel__slider {
  width: 95%;
  margin-top: 30px;
}

@media (min-width: 600px) {
  .main__app-description {
    width: 400px;
  }
  .main__carousel {
    width: 500px;
  }
}

@media (min-width: 800px) {
  .main__carousel {
    width: 750px;
  }

  .main__app-description {
    width: 600px;
  }
}

@media (min-width: 1050px) {
  .main__carousel {
    width: 990px;
  }
}
