.main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 90vw;
    align-items: center;
    justify-content: center;
    color: white;
}

.main__app-description {
    width: 70%;
    margin-top: -1.5rem;
}

.main__carousel {
    margin-top: 3rem;
    width: 90vw;
    padding: 0 2rem;
}
