.main {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    color: white;
}

.main__app-description {
    width: 50%;
}

.main__carousel {
    /* display: flex;
    flex-direction: row; */
    margin-top: 40px;
    /* align-items: center; */
    width: 70%;
}
