.star-rating {
  margin-top: 50px;
}

.star-rating__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.star-rating__button_on {
  color: #fff;
}

.star-rating__button_off {
  color: rgba(18, 18, 18, 0.4);
}
