.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding: 15px;
  font-size: 0.9rem;
}

@media (min-width: 400px) {
  .footer {
    margin-top: 80px;
  }
}
